:root {
  --main-bg-color: rgb(32,32,32);
  --second-bg-color: rgb(35,35,35);
  --main-text-color: rgb(255,255,255);
}

.header .top .logo {
  background: url(chrome-extension://__MSG_@@extension_id__/img/cxlogo.png) no-repeat 50% transparent !important;
}

.header, .top, .top.topbar-scroll-bg, 
.live_self, .main .audience, 
.scroll_w, .messaging p, 
.live_message, .messaging, 
.messaging em, .say, .live_gifts, 
.list, .live_video, .card, .top_fans {
  background: var(--second-bg-color) !important;
  color: var(--main-text-color) !important;
}

.messaging {
  max-height: 660px !important;
}

.main .live_room {
  padding: 0 !important;
}

body {
  background: var(--main-bg-color) !important;
}

.crumb {
  position: absolute;
  color: var(--main-text-color) !important;
  height: 0px !important; 
}

.nickname, .icono-volumeHigh {
  color: var(--main-text-color) !important;
}

.volume {
  position: absolute;
  display: block;
  height: 30px;
  width: 33px;
  bottom: 10px;
  left: 10px;
}

.volume:hover + .slidecontainer {
  opacity: 1;
  visibility: visible;
}

.slidecontainer {
  opacity: 0;
  visibility: hidden;
  left: 30px;
  bottom: 7px;
  width: 206px;
  position: absolute;
}

.volume-slider {
  border-radius: 16px;
  margin-left: 20px;
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
}

.slidecontainer:hover {
  opacity: 1;
  visibility: visible;
}

.volume-slider::-webkit-slider-thumb {
  border-radius: 50%;
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #ff42ff;
  cursor: pointer;
}

.volume-slider::-moz-range-thumb {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background: #ff42ff;
  cursor: pointer;
}